*{
    margin: 0;
    padding: 0;
}
body{

    background-color: darkslategray;

}

header{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(0, 68, 100);
    color: white;
}

h1{
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1:hover{

    color: aqua;
}


ul li  a{
    
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    display: block;
    font-size: 15pt;    
}

ul li a:hover{

    color: red;
}

ul li{

    list-style-type: none;
    margin-top: 12px;
}
ul{

    display: flex;
    height: 100%;
    

}
P{
    font-size: 13pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}